* {
    box-shadow: none;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}
window {
    background-color: alpha(#11221C, 0.75);
}

button:hover {
    background: #414B50;
    border: none;
}

.highlighted-button {
    background: none;
    border: none;
}
