@define-color foreground {{colors.on_surface.default.hex}};
@define-color background {{colors.surface_dim.default.hex}};
@define-color accent {{colors.primary.default.hex}};
@define-color accent2 {{colors.tertiary.default.hex}};
@define-color temp_color {{colors.primary.default.hex}};
@define-color cpu_color {{colors.secondary.default.hex}};
@define-color mem_color {{colors.tertiary.default.hex}};
