@define-color foreground {{colors.on_surface.default.hex}};
@define-color background {{colors.surface_dim.default.hex}};
@define-color current_workspace {{colors.primary.default.hex}};
@define-color visible_workspace {{colors.tertiary.default.hex}};
