* {
    box-shadow: none;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}
window {
    background-color: alpha({{colors.surface.default.hex}}, 0.75);
}

button:hover {
    background: {{colors.inverse_on_surface.default.hex}};
    border: none;
}

.highlighted-button {
    background: none;
    border: none;
}


