* {
    box-shadow: none;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}
window {
    background: alpha(#141419, 0.75);
}

button:hover {
    background: #6c7086;
    border: none;
}

.highlighted-button {
    background: none;
    border: none;
}
