@import "../../.dotfiles/current/theme/waybar.css";

* {
    background-color: @background;
    color: @foreground;
    font-family: "JetBrainsMono Nerd Font", monospace;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
}

window#waybar {
    background: alpha(@background, 0.85);
}

#custom-launcher {
    margin-right: 10px;
    margin-left: 5px;
}

#workspaces button {
    transition: none;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.visible {
    border-bottom: 2px solid @accent2;
    border-radius: 0px;
}

#workspaces button.active {
    border-bottom: 2px solid @accent;
    border-radius: 0px;
}

tooltip {
    border: 1px solid @foreground;
}

#custom-power {
    font-weight: bold;
    margin-right: 5px;
}

#custom-separator {
    margin-right: 6px;
    font-size: 12px;
    opacity: 0.5;
}

#network {
    margin-right: 6px;
}

#pulseaudio {
    margin-right: 15px;
}

#language {
    margin-right: 15px;
}



#temperature {
    margin-right: 8px;
    color: @temp_color;
}

#cpu {
    margin-right: 8px;
    color: @cpu_color;
}

#memory {
    margin-right: 8px;
    color: @mem_color;
}

#hardwareinfo {
    margin-right: 20px;
    border-bottom: 2px solid @accent;
}


