@import "../../.dotfiles/current/theme/waybar.css";

* {
    font-family: JetBrainsMono Nerd Font, Awesome Font, monospace;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

window#waybar {
    background: alpha(@background, 0.85);
    color: @foreground;
    margin: 8px 12px;
    
}

#workspaces button {
    color: @foreground;
    transition: none;
}

#workspaces button:hover {
    background: transparent;
}

#workspaces button.visible {
    border-bottom: 2px solid @accent2;
    border-radius: 0px;
}

#workspaces button.active {
    border-bottom: 2px solid @accent;
    border-radius: 0px;
}

tooltip {
    background: @background;
    color: @foreground;
    border: 1px solid @foreground;
}

#pulseaudio {
    border-bottom: 2px solid @accent;
    border-radius: 0;
    padding: 0 2px;
    margin-right: 20px;
}


#keyboard {
    margin-right: 20px;
}

#temperature {
    margin-right: 8px;
    color: @temp_color;
}

#cpu {
    margin-right: 8px;
    color: @cpu_color;
}

#memory {
    margin-right: 8px;
    color: @mem_color;
}

#hardwareinfo {
    margin-right: 20px;
    border-bottom: 2px solid @accent;
}

#network {
    margin-right: 20px;
}

#custom-power {
    margin-right: 5px;
    color: red;
}
