* {
    box-shadow: none;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}
window {
    background-color: alpha(#191724, 0.75);
}

button:hover {
    background: #26233a;
    border: none;
}

.highlighted-button {
    background: none;
    border: none;
}
